@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

body{
  font-family: "Sintony",Arial,sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.navbar{
  display: flex;
  position: sticky;
  top: 0px;
  flex-direction: row;
  text-decoration: none;
  border-bottom: 1px Black solid;
  min-height: 10vh;
  align-content: center;
  justify-content: center;
  font-size: 5vh;
  background-color: white;
}

.nav-home{
  width: 20%;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.nav-home:hover{
  background: black;
  color: white; 
}

.nav-option{
  width: 20%;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-right: 0;
  justify-content: center;
}

.nav-option:hover{
  background: black;
  color: white;
}


