img{
    height: 20vh;
    width: auto;
    margin-left: 2vw;
}

.teamcard-cont{
    margin-top: 5vh;
    display:flex;
    flex-direction: column;
    margin-left: 0px;
}

.teamcard-header{
    display: flex;
    height: 20%;
    width: 100vw;
    margin-bottom: 5vh;
}

.teamcard-pname{
    text-align: center;
    margin:auto;
    font-size: 10vh;
}

.teamcard-divider{
    width: 100vw;
    height: 5vh;
    margin-left: 0;
}